@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    /* Normal size button */
    .btn {
        @apply px-4 py-2 m-2 bg-blue-500 text-white rounded-lg shadow-md;
        @apply hover:animate-pulse hover:bg-blue-800;
        @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;

    }
    .btn-primary {
        @apply btn bg-blue-500;
        @apply hover:bg-blue-800;
    }
    .btn-secondary {
        @apply btn bg-gray-500;
        @apply hover:bg-gray-600;
    }
    .btn-danger {
        @apply btn bg-red-500;
        @apply hover:bg-red-800;
    }
    .btn-success {
        @apply btn bg-green-500;
        @apply hover:bg-green-800;
    }
    .btn-warning {
        @apply btn bg-yellow-500;
        @apply hover:bg-yellow-800;
    }
    .btn-info {
        @apply btn bg-emerald-600;
        @apply hover:bg-emerald-700;
    }
    .btn-light {
        @apply btn bg-gray-200 text-gray-800;
        @apply hover:bg-gray-400;
    }
    .btn-dark {
        @apply btn bg-gray-800 text-white;
        @apply hover:bg-gray-900;
    }
    /* Small button */
    .btn-sm {
        @apply btn px-2 py-1;
    }
    .btn-sm-primary {
        @apply btn-sm bg-blue-500;
        @apply hover:bg-blue-800;
    }
    .btn-sm-secondary {
        @apply btn-sm bg-gray-500;
        @apply hover:bg-gray-600;
    }
    .btn-sm-danger {
        @apply btn-sm bg-red-500;
        @apply hover:bg-red-800;
    }
    .btn-sm-success {
        @apply btn-sm bg-green-500;
        @apply hover:bg-green-800;
    }
    .btn-sm-warning {
        @apply btn-sm bg-yellow-500;
        @apply hover:bg-yellow-800;
    }
    .btn-sm-info {
        @apply btn-sm bg-emerald-600;
        @apply hover:bg-emerald-700;
    }
    .btn-sm-light {
        @apply btn-sm bg-gray-200 text-gray-800;
        @apply hover:bg-gray-400;
    }
    .btn-sm-dark {
        @apply btn-sm bg-gray-800 text-white;
        @apply hover:bg-gray-900;
    }
    /* Form control */
    .form-control {
        @apply block w-full bg-white text-black dark:bg-gray-800 dark:text-gray-200 rounded-lg shadow-md;
    }
    .form-control:focus {
        @apply outline-none ring-2 ring-blue-500;
    }
    .form-control-error {
        @apply block w-full bg-red-200 text-red-800 rounded-lg shadow-md;
    }
    .form-control-error:focus {
        @apply outline-none ring-2 ring-red-500;
    }
    .form-control-success {
        @apply block w-full bg-green-200 text-green-800 rounded-lg shadow-md;
    }
    .form-control-success:focus {
        @apply outline-none ring-2 ring-green-500;
    }
    .form-control-warning {
        @apply block w-full bg-yellow-200 text-yellow-800 rounded-lg shadow-md;
    }
    .form-control-warning:focus {
        @apply outline-none ring-2 ring-yellow-500;
    }
    /* Scroll */
    .scroll {
        scrollbar-width: thin;
        scrollbar-color: rgb(255, 255, 255) rgba(255, 255, 255, 0.5);
    }

}
